{% extends "base.html" %}

{% load staticfiles %}

{% block meta_head %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'teams.css' %}" />    
{% endblock %}

{% block right_page_menu %}
    <div class="right_page_menu">
        <h2>Equipes</h2>
        <div class="div_clear"></div>
        <ul>
        {% for team in teams %}
            <li><a href="/team/{{ team.id }}">{{team.short_name}} - {{team.division.name}}</a></li>
        {% empty %}
            <li>Aucune équipe présente</li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content_page %}
<h1>Les contingents des équipes</h1>

<section>
    <h2 id='{{ my_team.id }}'>{{ my_team.name }} - {{my_team.division.name}}</h2>
    {% for player in players %}
        <a class="link_player" href="/stats/player/{{player.id}}">
            <div class="player">
                <div class="player_picture">
                    {% if player.picture %}
                        <img src="{{ MEDIA_URL }}{{player.picture}}" />
                    {% else %}
                        <img src="{{ STATIC_URL }}img/nobody.jpg" />
                    {% endif %}
                </div>
                <div class="player_info">
                    <p>Nom: {{ player.lastname }}</p>
                    <p>Prénom: {{ player.firstname }}</p>
                    {% if player.pseudo %}<p>Surnom: {{ player.pseudo }}</p>{% endif %}
                    {% if player.birthdate %}<p>Né le: {{ player.birthdate|date:'d.m.y' }}</p>{% endif %}
                    {% if player.number %}<p>Numéro: {{ player.number }}</p>{% endif %}
                    <p>Position: {{ player.position.name }}</p>
                </div>
            </div>
        </a>
    {% empty %}
        <p>Aucun joueur présent dans cette équipe</p>
    {% endfor %}
    
    <div class="div_clear"></div>
</section>

{% endblock %}