{% extends "base.html" %}

{% load staticfiles %}

{% block meta_head %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'regular.css' %}" />    
{% endblock %}

{% block right_page_menu %}
    <div class="right_page_menu">
        <h2>Equipes</h2>
        <div class="div_clear"></div>
        <ul>
        {% for team in aumont_teams %}
            <li><a href="/schedule/cup/{{ team.id }}">{{team.short_name}} - {{team.division.name}}</a></li>
        {% empty %}
            <li>Aucune équipe présente</li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content_page %}
    
{% if games %}    
    
    <h1>{{my_team.name}} - {{games.0.game_type}}</h1>
    
    <table id="championship">
        <thead><tr><th>Tour</th><th>Date</th><th>Heure</th><th>Domicile</th><th>Extérieur</th><th>Résultats</th><th></th></tr></thead>
        <tbody>
        {% for game in games %}
            <tr><td>{{ game.game_round.round_name }}</td><td>{{ game.game_date|date:'d.m.y' }}</td><td>{{ game.game_date|time:'H:i' }}</td>
                {% if game.team_home.id = my_team.id %}
                    <td class="my_team">{{ game.team_home.name }}</td><td>{{ game.team_away.name }}</td>
                {% else %}
                    <td>{{ game.team_home.name }}</td><td class="my_team">{{ game.team_away.name }}</td>
                {% endif %}
                {% if game.score_home %}
                <td>{{ game.score_home }}-{{ game.score_away }}
                    {% if game.details %}
                        {{ game.details }}
                    {% endif %}
                </td>
                <td>
                    {% if game.pdf_file %}
                        <a href="{{ MEDIA_URL }}{{ game.pdf_file }}"><img src="{{ STATIC_URL }}img/pdf.jpg" /></a></td></tr>
                    {% endif %}
                {% endif %}
                
        {% endfor %}
        </tbody>
    </table>

{% else %}
    <h1>{{my_team.name}}</h1>
    <p>Pas de rencontres prévues pour l'instant</p>
{% endif %}

{% endblock %}