{% extends "base.html" %}

{% load staticfiles %}

{% block meta_head %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'regular.css' %}" />    
{% endblock %}

{% block right_page_menu %}
    <ul>
    {% for team in aumont_teams %}
        <li><a href="/schedule/playoffs/{{ team.id }}">{{team.name}}</a></li>
    {% empty %}
        <li>Aucune équipe présente</li>
    {% endfor %}
    </ul>
{% endblock %}

{% block content_page %}
<h1>{{my_team.name}} - Play-off</h1>



<table>
    <thead><tr><th>Tour</th><th>Date</th><th>Heure</th><th>Domicile</th><th>Extérieur</th><th>Résultats</th><th>Feuilles</th></tr></thead>
    <tbody>
    {% for game in games %}
        <tr><td>{{ game.game_round.round_name }}</td><td>{{ game.date|date:'d.m.y' }}</td><td>{{ game.date|time:'H:i' }}</td><td>{{ game.team_home.name }}</td><td>{{ game.team_away.name }}</td>
            {% if game.score_home %}
            <td>{{ game.score_home }}-{{ game.score_away }}
                {% if game.details %}
                    {{ game.details }}
                {% endif %}
            </td>
            <td>
                {% if game.pdf_file %}
                    <a href="{{ MEDIA_URL }}{{ game.pdf_file }}"><img src="{{ STATIC_URL }}/img/pdf.jpg" /></a></td></tr>
                {% endif %}
            {% endif %}
            
    {% empty %}
        <p>Pas de matchs prévus pour cette équipe</p>
    {% endfor %}
    </tbody>
</table>

{% endblock %}