{% extends "base.html" %}

{% load staticfiles %}

{% block meta_head %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'regular.css' %}" />    
{% endblock %}

{% block right_page_menu %}
    <div class="right_page_menu">
        <h2>Equipes</h2>
        <div class="div_clear"></div>
        <ul>
        {% for team in aumont_teams %}
            <li><a href="/schedule/regular/{{ team.id }}">{{team.short_name}} - {{team.division.name}}</a></li>
        {% empty %}
            <li>Aucune équipe présente</li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content_page %}
<h1>{{my_team.name}} - {{my_team.division.name}}</h1>

<table id="standing">
    <thead><tr><th>#</th><th class="standing_team_name">Equipe</th><th><abbr title="Matchs">M</abbr></th><th><abbr title="Victoires">V</abbr></th><th><abbr title="Egalités">E</abbr></th><th><abbr title="Défaites">D</abbr></th><th><abbr title="Buts marqés">BM</abbr></th><th><abbr title="Buts encaissés">BE</abbr></th><th><abbr title="Points">P</abbr></th></tr></thead>
    <tbody>
{% for team in teams %}
    {% if team.id == my_team.id %}
        <tr class="my_team"><td>{{forloop.counter}}</td><td class="standing_team_name">{{ team.name }}</td><td>{{ team.games }}</td><td>{{ team.wins }}</td><td>{{ team.draws }}</td><td>{{ team.losses }}</td><td>{{ team.goals_for }}</td><td>{{ team.goals_against }}</td><td>{{ team.points }}</td></tr>
    {% else %}
        <tr><td>{{forloop.counter}}</td><td class="standing_team_name">{{ team.name }}</td><td>{{ team.games }}</td><td>{{ team.wins }}</td><td>{{ team.draws }}</td><td>{{ team.losses }}</td><td>{{ team.goals_for }}</td><td>{{ team.goals_against }}</td><td>{{ team.points }}</td></tr>
    {% endif %}
{% endfor %}
    </tbody>
</table>

{% if games %}
    <table id="championship">
        <thead><tr><th>Date</th><th>Heure</th><th>Domicile</th><th>Extérieur</th><th>Résultats</th><th></th></tr></thead>
        <tbody>
        {% for game in games %}
            <tr><td>{{ game.game_date|date:'d.m.y' }}</td><td>{{ game.game_date|time:'H:i' }}</td>
                {% if game.team_home.id = my_team.id %}
                    <td class="my_team">{{ game.team_home.name }}</td><td>{{ game.team_away.name }}</td>
                {% else %}
                    <td>{{ game.team_home.name }}</td><td class="my_team">{{ game.team_away.name }}</td>
                {% endif %}
                
                {% if game.score_home %}
                <td>{{ game.score_home }} - {{ game.score_away }}
                    {% if game.details %}
                        {{ game.details }}
                    {% endif %}
                </td>
                <td>
                    {% if game.pdf_file %}
                        <a href="{{ MEDIA_URL }}{{ game.pdf_file }}"><img src="{{ STATIC_URL }}img/pdf.jpg" /></a></td></tr>
                    {% endif %}
                {% endif %}
                
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Pas de rencontres prévues pour l'instant</p>
{% endif %}
{% endblock %}