body{
    background: linear-gradient(#66A3FF, #EBF3FF); /* Standard syntax */
    min-height: 900px;
}

abbr[title] {
    border-bottom-width: 0;
}

table {
    border-collapse: collapse;
}

h1 {
    color: #000066;
    text-align: center;
}

h2, h3 {
    color: #000066;
}

#global {
    margin: auto;
    width: 1100px;
}

/**** Header with menu (Start) ****/

#img_header {
    height: 100px;
    text-align: center;
    padding: 30px;
}

#menu_header ul {
    margin: 0;
    padding: 0;
    text-align: center;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: linear-gradient(#245DB2, #4791FF); /* Standard syntax */
    border-color: #245DB2;
    border-image: none;
    border-radius: 6px;
    border-right: 1px solid #245DB2;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px #245DB2;
    height: 36px;
}

#menu_header ul li{
    display: inline;
    list-style: none outside none;
}

#menu_header ul a{
    display: inline-block;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    color: #FFFFFF;
    font-family: Helvetica,Arial,Verdana,sans-serif;
    font-size: 1em;
    height: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0 35px;
    text-decoration: none;
    text-shadow: -1px -1px 0 #444444;
}

#menu_header ul *:first-child a {
    border-left: 0 none;
}

#menu_header ul *:last-child a {
    border-right: 0 none;
}

#menu_header ul a:hover, #menu_header ul a:focus {
    background: linear-gradient(#143566, #4791FF);
}

/**** Header with menu (End) ****/

/**** Main content (Start) ****/

#left_page {
    float: left;
    width: 75%;
    padding-right: 10px;
    text-align: justify;
}

#right_page {
    float: right;
    width: 23%;
}


#right_page ul{
    float: left;
    padding: 0;
    margin: 0 0 0 5px;
    list-style: none;
}

#right_page a{
    color: black;
    text-decoration: none;
}

#right_page a:hover{
    font-weight: bold;
}

.right_page_menu {
    border: 1px solid #000066;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 10px;
    float: left;
    width: 100%;
}

.right_page_menu p{
    margin: 0;
    padding: 0;
    margin-left: 5px;
}

.right_page_menu h2, .right_page_menu h3{
    float: left;
    margin-bottom: 5px;
    margin-left: 5px;
}

.right_page_menu .games{
    float: left;
    width: 78%;
    text-align: left;
}
.right_page_menu .score{
    float: right;
    width: 18%;
    text-align: left;
    font-weight: bold;
}


/**** Main content (End) ****/


/**** Footer (Start) ****/

.div_clear {
    clear: both;
}

/**** Footer (End) ****/