.player {
    float: left;
    margin-bottom: 20px;
}
.player_picture {
    float: left;
}

.player_picture img {
    width: 100px;
}

.player_info {
    float: left;
    margin-left: 10px;
    width: 200px;
}

.player_info p {
    padding: 2px;
    margin: 0;
}