.player {
    float: left;
    margin-bottom: 20px;
}

.player_picture {
    float: left;
}

.player_picture img {
    width: 100px;
}

.player_info {
    float: left;
    margin-left: 10px;
    width: 165px;
}

.player_info p {
    padding-bottom: 3px;
    margin: 0;
}

.link_player, .link_player a, .link_player a:hover, .link_player a:active{
    color: black;
}