{% load staticfiles %}
{% load news_extras %}
<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>SHC Aumont Loggers</title>
        <link rel="stylesheet" type="text/css" media="all" href="{% static 'global.css' %}" />
        {% block meta_head %}
        
        {% endblock %}
    </head>
    
    <body>
        <div id="global">
            <header>
                <div id="img_header"><img src="{{STATIC_URL}}img/header.jpg" /></div>
                <nav id="menu_header">
                    <ul>
                        <li><a href="/">Accueil</a></li>
                        <li><a href="/schedule">Championnat</a></li>
                        <li><a href="/schedule/playoffs">Play-Off</a></li>
                        <li><a href="/schedule/cup">Coupe</a></li>
                        <li><a href="/team">Equipes</a></li>
                        <li><a href="/stats">Statistiques</a></li>
                    </ul>
                </nav>
            </header>
            
            <div id="main_page">
                <div id="left_page">
                    {% block content_page %}
    
                    {% endblock %}
                </div>
                
                <div id="right_page">
                    {% block right_page_menu %}
                    
                    {% endblock %}
                    
                    {% show_extra %}
                </div>
            </div>
            
            <div class="div_clear"></div>
            
            <footer>
                <p>Site web en cours de dévelopement</p>
            </footer>
        </div>
    </body>
    
    
</html>