{% extends "base.html" %}

{% load staticfiles %}

{% block meta_head %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'stats.css' %}" />    
{% endblock %}


{% block right_page_menu %}
    <div class="right_page_menu">
        <h2>Statistiques</h2>
        <div class="div_clear"></div>
        <ul>
            <li><a href="/stats/player/{{ player.id }}">Statistiques</a></li>
            <li><a href="/stats/player/record/{{ player.id }}">Records</a></li>
        </ul>
    </div>
{% endblock %}


{% block content_page %}
<h1>{{player.firstname}} {{player.lastname}} - Record personnel</h1>


<h2>Les matchs avec le plus de points</h2>
<table class="best_table">
    <thead><tr><th>Saison</th><th>Match</th><th>Type</th><th><abbr title="Buts">B</abbr></th><th><abbr title="Assistances">A</abbr></th><th><abbr title="Points">P</abbr></th><th><abbr title="Minutes de pénalité">MP</abbr></th></tr></thead>
    {% for point in points %}
        <tr><td>{{ point.team.season }}</td><td>{{ point.calendar.team_home.short_name }} - {{ point.calendar.team_away.short_name }}</td><td>{{ point.calendar.game_type.type_name }}</td><td>{{ point.goals }}</td><td>{{ point.assists }}</td><td class="to_display">{{ point.points }}</td><td>{{ point.penalties }}</td></tr>
    {% endfor %}    
</table>

<h2>Les matchs avec le plus de buts</h2>
<table class="best_table">
    <thead><tr><th>Saison</th><th>Match</th><th>Type</th><th><abbr title="Buts">B</abbr></th><th><abbr title="Assistances">A</abbr></th><th><abbr title="Points">P</abbr></th><th><abbr title="Minutes de pénalité">MP</abbr></th></tr></thead>
    {% for goal in goals %}
        <tr><td>{{ goal.team.season }}</td><td>{{ goal.calendar.team_home.short_name }} - {{ goal.calendar.team_away.short_name }}</td><td>{{ goal.calendar.game_type.type_name }}</td><td class="to_display">{{ goal.goals }}</td><td>{{ goal.assists }}</td><td>{{ goal.points }}</td><td>{{ goal.penalties }}</td></tr>
    {% endfor %}    
</table>

<h2>Les matchs avec le plus de passes décisives</h2>
<table class="best_table">
    <thead><tr><th>Saison</th><th>Match</th><th>Type</th><th><abbr title="Buts">B</abbr></th><th><abbr title="Assistances">A</abbr></th><th><abbr title="Points">P</abbr></th><th><abbr title="Minutes de pénalité">MP</abbr></th></tr></thead>
    {% for assist in assists %}
        <tr><td>{{ assist.team.season }}</td><td>{{ assist.calendar.team_home.short_name }} - {{ assist.calendar.team_away.short_name }}</td><td>{{ assist.calendar.game_type.type_name }}</td><td>{{ assist.goals }}</td><td class="to_display">{{ assist.assists }}</td><td>{{ assist.points }}</td><td>{{ assist.penalties }}</td></tr>
    {% endfor %}    
</table>

<h2>Les matchs avec le plus pénalités</h2>
<table class="best_table">
    <thead><tr><th>Saison</th><th>Match</th><th>Type</th><th><abbr title="Buts">B</abbr></th><th><abbr title="Assistances">A</abbr></th><th><abbr title="Points">P</abbr></th><th><abbr title="Minutes de pénalité">MP</abbr></th></tr></thead>
    {% for penalty in penalties %}
        <tr><td>{{ penalty.team.season }}</td><td>{{ penalty.calendar.team_home.short_name }} - {{ penalty.calendar.team_away.short_name }}</td><td>{{ penalty.calendar.game_type.type_name }}</td><td>{{ penalty.goals }}</td><td>{{ penalty.assists }}</td><td>{{ penalty.points }}</td><td class="to_display">{{ penalty.penalties }}</td></tr>
    {% endfor %}    
</table>

{% endblock %}